//
//  Secrets.xcconfig
//  AVApp
//
//  Created by Alexandre Faltot on 14/10/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MOVIE_DB_API_KEY=1d5242199703ff93379a9722358b9564
